[submodule "onnx-tensorrt"]
	path = onnx-tensorrt
	url = https://github.com/onnx/onnx-tensorrt.git
[submodule "OpenPCDet"]
	path = OpenPCDet
	url = https://github.com/hova88/OpenPCDet.git
[submodule "spconv"]
	path = spconv
	url = https://github.com/traveller59/spconv.git
[submodule "TensorRT"]
	path = TensorRT
	url = https://github.com/nvidia/TensorRT
